.App {
  height: 100vh;
  background-color: #a2b5bb;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#filled-basic {
  width: 20rem;
}
.qr-code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 22rem;
  width: 22rem;
}
.footer {
  background-color: red;
  height: 2.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #576f72;
}
@media screen and (max-width: 460px) {
  #filled-basic {
    width: auto;
  }
  .form-container {
    flex-direction: column;
  }
  img {
    height: 18rem;
    width: 18rem;
  }
}
